{% extends 'base_f.html' %}
{% load static %}
{% block content%}


<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        {% include 'nav_D.html' %}

      <!-- Main Sidebar Container -->

        {% include 'slide_D.html' %}
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
          <div class="content-header">
              <div class="container-fluid">
                  <div class="row mb-2">
                      <div class="col-sm-6">
                      </div><!-- /.col -->
                      <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">

                          </ol>
                      </div><!-- /.col -->
                  </div><!-- /.row -->
              </div><!-- /.container-fluid -->
          </div>
          <!-- Main content -->
          <section class="content">
              <div class="container-fluid">
                  <div class="row">
                      <!-- left column -->
                      <div class="col-md-12">
                          <!-- jquery validation -->
                          <div class="card card-success">
                              <!-- /.card-header -->
                              <!-- form start -->
                              <form method="get" action="{% url 'admins:filtrer_rendez_vous' %}" id="quickForm">
                                  {% csrf_token %}
                                  <div class="card-body">
                                      <div class="form-group">
                                          <label for="date">Date </label>
                                          <input type="date" name="date" class="form-control" value="{{ request.GET.date }}" id="date">
                                      </div>
                                      <div class="form-group">
                                          <label for="user">vendeur </label>
                                          <input type="text" name="user" class="form-control" id="user" value="{{ request.GET.user }}" placeholder="Nom vendeur" >
                                      </div>
                                      <div class="form-group">
                                          <label for="action">action </label>
                                          <input type="text" name="action" class="form-control" id="action" value="{{ request.GET.action }}" placeholder="Nom client" >
                                      </div>
                                  </div>
                                  <!-- /.card-body -->
                                  <div class="card-footer">
                                      <!-- <button type="submit" class="btn btn-success">Submit</button> -->
                                      <input type="submit" class="btn btn-success" value="Save">
                                  </div>
                              </form>
                          </div>
                          <!-- /.card -->
                      </div>
                      <!--/.col (left) -->
                      <!-- right column -->
                      <div class="col-md-6">

                      </div>
                      <!--/.col (right) -->
                  </div>
                  <!-- /.row -->
              </div><!-- /.container-fluid -->
          </section>
        <!-- /.content-header -->
          <section class="content">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-12">
                          <div class="card">
                              <div class="card-header">
                                  <h3 class="card-title">All categories</h3>
                              </div>
                              <!-- /.card-header -->
                              <div class="card-body">
                                  <table id="example1" class="table table-bordered table-striped">
                                      <thead>
                                      <tr>
                                          <th>Produit</th>
                                          <th>Action</th>
                                          <th>Date</th>
                                          <th>Vendeur</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                      {% if produit_logs  %}
                                          {% for produit_log in produit_logs %}
                                              <tr>
                                                  {% if produit_log.produit  %}
                                                      <td>{{ produit_log.produit.nom }} ({{ produit_log.produit.prix }})</td>
                                                  {% else  %}
                                                      <td>{{ produit_log.nom_produit }} ({{ produit_log.prix_produit }})</td>
                                                  {% endif  %}
                                                  <td>{{ produit_log.get_action_display }}</td>
                                                  <td>{{ produit_log.timestamp }}</td>
                                                  <td>{{ produit_log.utilisateur.nom }} {{ produit_log.utilisateur.prenom }}</td>
                                              </tr>
                                          {% endfor %}
                                      {% else %}
                                          <tr>
                                              <td colspan="4">Aucun changement trouvé</td>
                                          </tr>
                                      {% endif %}
                                      </tbody>

                                  </table>
                              </div>
                              <!-- /.card-body -->
                          </div>
                          <!-- /.card -->
                      </div>
                      <!-- /.col -->
                  </div>
                  <!-- /.row -->
              </div>
              <!-- /.container-fluid -->
          </section>
      </div>
    </div>
</body>
{% endblock %}