{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
<div class="container" style="max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">

    <p style="color: #666666;">Cher {{ reservation.client.nom }} {{ reservation.client.prenom }},</p>

    <p style="color: #666666;">Nous vous confirmons votre rendez-vous pour le {{ reservation.date_rendez_vous }} de {{ reservation.heure_rendez_vous }}.</p>

    <p style="color: #666666;">Merci de choisir notre service. Nous sommes impatients de vous accueillir!</p>

    <div style="margin-top: 20px; text-align: center; color: #999999;">
        <p>Cordialement,<br>EN APARTE</p>
    </div>
</div>
</body>


</html>
