{% extends 'lien.html' %}
{% load static %}
{% block content%}
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    {% include 'nav_E.html' %}

  <!-- Navbar -->
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->

    {% include 'slide.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Réservation Confirmer</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'employer:reservation' %}">Accueil</a></li>
              <li class="breadcrumb-item active">Rendez-vous confirmer</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
      <section class="content">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-12">
                      <div class="card">
                          <div class="card-header">
                              <h3 class="card-title">Tout les Réservations Confirmés</h3>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                              <table id="example1" class="table table-bordered table-striped">
                                  <thead>
                                  <tr>
                                      <th>Nom du Client</th>
                                      <th>Service</th>
                                      <th>Prix</th>
                                      <th>Date</th>
                                      <th>Heure</th>
                                      <th>Debut</th>
                                      <th>Fin</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  {% if rendez_vous %}
                                      {% for rdv in rendez_vous %}
                                          <tr>
                                              <td>{{ rdv.client.nom }} {{ rdv.client.prenom }}</td>
                                              <td>{{ rdv.service.type }}</td>
                                              <td>{{ rdv.service.prix }}</td>
                                              <td>{{ rdv.Date_prise_rendez_vous }}</td>
                                              <td>{{ rdv.horaire }}</td>
                                                      <td>
                                                          <form method="post" action="{% url 'employer:debut_rendez_vous' rdv.id %}">
                                                              {% csrf_token %}
                                                              <button type="submit" class="btn btn-primary" {% if rdv.debut == True %}disabled{% endif %}>Début</button>
                                                          </form>
                                                      </td>
                                                      <td>
                                                          <form method="post" action="{% url 'employer:fin_rendez_vous' rdv.id rdv.client.email rdv.eva_uuid %}">
                                                              {% csrf_token %}
                                                              <button type="submit" class="btn btn-success" {% if rdv.fin == True or rdv.debut == False %}disabled{% endif %}>Fin</button>
                                                          </form>
                                                      </td>

                                          </tr>
                                      {% endfor %}
                                  {% else %}
                                      <tr>
                                          <td colspan="7">Aucun Rendez-vous prevu.</td>
                                      </tr>
                                  {% endif %}
                                  </tbody>

                              </table>
                          </div>
                          <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                  </div>
                  <!-- /.col -->
              </div>
              <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
  </div>
    <!-- Main content -->

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
<!-- ./wrapper -->

<!-- jQuery -->
<script>
    $(document).on("click", "#delete", function(e){
        e.preventDefault();
        var link = $(this).attr("href");
        bootbox.confirm("Do you really want to delete this element ?", function(confirmed){
            if (confirmed){
                window.location.href = link;
            };
        });
    });
</script>
</body>
{% endblock %}

