
<nav class="navbar navbar-expand-lg ">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="{% url 'vitrine:Accueil'%}">
            <strong><span class="text-warning">EN </span> APARTE</strong>
        </a>

        <div class="d-lg-none">
            {% if not user.is_authenticated %}
                <a href="{% url 'Model:connexion'%}" class="bi-person custom-icon me-3"></a>
            {% endif %}

            {% if user.is_authenticated %}
                {% for panier in user.paniers_set.all %}
                    {% if not panier.confirmation_panier %}
                        <a href="{% url 'vitrine:panier_confirme' %}" class="bi-bag custom-icon"></a>
                    {% endif %}
                {% endfor %}
            {% endif %}


            <a href="{% url 'Model:Deconnexion'%}" class="bi-power custom-icon me-3"></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            {% url 'vitrine:Accueil' as vitrine_Accueil_url %}
            {% url 'vitrine:liste_tous_produits' as vitrine_liste_tous_produits_url %}
            {% url 'vitrine:About' as vitrine_About_url %}
            {% url 'vitrine:Faq' as vitrine_Faq_url %}
            {% url 'vitrine:Contact' as vitrine_Contact_url %}
            {% url 'Model:Rendez_vous' as vitrine_Rendez_vous_url %}
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == vitrine_Accueil_url %}active{% endif %}" href="{{ vitrine_Accueil_url }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == vitrine_liste_tous_produits_url %}active{% endif %}" href="{{ vitrine_liste_tous_produits_url }}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.path == vitrine_Rendez_vous_url %}active{% endif %}" href="{{ vitrine_Rendez_vous_url }}">Rendez vous</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link {% if request.path == vitrine_About_url %}active{% endif %}" href="{{ vitrine_About_url }}">A propos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.path == vitrine_Faq_url %}active{% endif %}" href="{{ vitrine_Faq_url }}">FAQs</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if request.path == vitrine_Contact_url %}active{% endif %}" href="{{ vitrine_Contact_url }}">Contact</a>

                </li>

            </ul>

            <div class="d-none d-lg-block">
                {% if not user.is_authenticated %}
                    <a href="{% url 'Model:connexion'%}" class="bi-person custom-icon me-3"></a>
                {% endif %}

                {% if user.is_authenticated %}
                    {% for panier in user.paniers_set.all %}
                        {% if not panier.confirmation_panier %}
                            <a href="{% url 'vitrine:panier_confirme' %}" class="bi-bag custom-icon"></a>
                        {% endif %}
                    {% endfor %}
                {% endif %}


                <a href="{% url 'Model:Deconnexion'%}" class="bi-power custom-icon me-3"></a>


            </div>
        </div>
    </div>
</nav>
