{% extends 'base.html' %}
{% load static %}

{% block content%}
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
        {% include 'header.html' %}

        <main>

            <section class="sign-in-form section-padding" style="margin-top: 60px">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 mx-auto col-12">

                            <h1 class="hero-title text-center mb-5">Inscription</h1>

                            <div class="row">
                                <div class="col-lg-8 col-11 mx-auto">
                                    <form role="form" method="POST">
                                        {% csrf_token %}

                                        <div class="form-floating">
                                            {{ form.nom}}

                                            <label for="nom">Nom</label>
                                        </div>
                                        <div class="form-floating mt-4">
                                            {{ form.prenom}}

                                            <label for="Prenom">Prenom</label>
                                        </div>
                                        <div class="form-floating mt-4">
                                            {{ form.email}}

                                            <label for="email">Adresse Email </label>
                                        </div>

                                        <div class="form-floating my-4">

                                            {{ form.password1}}
                                            <label for="confirm_password">Mot de passe</label>
                                            
                                            <p class="text-center">* doit inclure 0-9 a-z A-Z in 4 to 10 characters</p>
                                        </div>
                                        <div class="form-floating my-4">

                                            {{ form.password2}}

                                            <label for="confirm_password">Confirmer le mot de passe </label>
                                        </div>

                                        <div class="form-floating " >
                                            {{ form.contact}}

                                            <label for="contact">Contact</label>
                                        </div>

                                        <div class="form-floating mt-4">
                                            {{ form.commune}}

                                            <label for="commune ">Commune</label>
                                        </div>
                                        <div class="form-floating mt-4 " style="color: #212529">
                                            {{ form.sexe}}

                                            <label for="sexe">Sexe</label>
                                        </div>

                                        {% for field, errors in errors.items %}
                                            {% for error in errors %}
                                                {% if field == 'email' %}
                                                    <div class="alert alert-dark mt-4" role="alert">
                                                        <strong>Erreur dans le champ Email :</strong> {{ error }}
                                                    </div>
                                                {% elif field == 'password1' %}
                                                    <div class="alert alert-dark mt-4" role="alert">
                                                        <strong>Erreur dans le champ Password :</strong> {{ error }}
                                                    </div>
                                                {% elif field == 'password2' %}
                                                    <div class="alert alert-dark mt-4" role="alert">
                                                        <strong>Erreur dans le champ confirmation Password :</strong> {{ error }}
                                                    </div>
                                                {% else %}
                                                    <div class="alert alert-dark" role="alert">
                                                        <strong>Erreur dans le champ {{ field|title }} :</strong> {{ error }}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}


                                        <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                            Créer
                                        </button>

                                        <p class="text-center">Vous avez déjà un compte ? <a href="{% url 'Model:connexion' %}">Veuillez vous connecter</a></p>

                                    </form>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </section>

        </main>
    </body>
{% endblock %}