{% extends 'base.html' %}
{% load static %}

{% block content%}
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>

        <main>

            <section class="sign-in-form section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-8 mx-auto col-12">

                            <h1 class="hero-title text-center mb-5">Sign Up</h1>

                            <div class="row">
                                <div class="col-lg-8 col-11 mx-auto">
                                    <form role="form" method="POST">
                                        {% csrf_token %}

                                        <div class="form-floating">
                                            {{ form.nom}}

                                            <label for="nom">Nom</label>
                                        </div>
                                        <div class="form-floating mt-4">
                                            {{ form.prenom}}

                                            <label for="Prenom">Prenom</label>
                                        </div>
                                        <div class="form-floating mt-4">
                                            {{ form.email}}

                                            <label for="email">Email address</label>
                                        </div>

                                        <div class="form-floating my-4">

                                            {{ form.password1}}
                                            <label for="confirm_password">Password</label>
                                            
                                            <p class="text-center">* shall include 0-9 a-z A-Z in 4 to 10 characters</p>
                                        </div>
                                        <div class="form-floating my-4">

                                            {{ form.password2}}

                                            <label for="confirm_password">Password Confirmation</label>
                                        </div>

                                        <div class="form-floating " >
                                            {{ form.contact}}

                                            <label for="contact">Contact</label>
                                        </div>

                                        <div class="form-floating mt-4">
                                            {{ form.commune}}

                                            <label for="commune ">Commune</label>
                                        </div>
                                        <div class="form-floating mt-4 " style="color: #212529">
                                            {{ form.sexe}}

                                            <label for="sexe">Sexe</label>
                                        </div>

                                        {% if form.errors %}
                                            {% for field, errors in form.errors.items %}
                                                {% for error in errors %}
                                                    <div class="alert alert-dark mt-4" role="alert">
                                                        <strong>Erreur :</strong> {{ error }}
                                                    </div>
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}


                                        <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                                            Create account
                                        </button>

                                        <p class="text-center">Already have an account? Please <a href="connexion.html">Sign In</a></p>

                                    </form>
                                </div>
                            </div>
                            
                        </div>

                    </div>
                </div>
            </section>

        </main>
    </body>
{% endblock %}