{% extends 'base.html' %}
{% load static %}
{% include 'css.html' %}
{% block content%}
    <body>
    <style>
        table {
            width: 80%;
            border-collapse: collapse;
            margin-top: 20px;
            overflow-x: auto;

        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            width: 33.33%;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
{% include 'header.html' %}

    <style>

        .success {
            background-color: #d4edda;
            border-color: #c3e6cb;
            color: #155724;
        }

        .error {
            background-color: #f8d7da;
            border-color: #f5c6cb;
            color: #721c24;
        }

        .warning {
            background-color: #fff3cd;
            border-color: #ffeeba;
            color: #856404;
        }
    </style>

    <section class="">
        <div class="slick-custom">
            <img src=" {% static 'images/calendrier.jpg' %}" class="img-fluid" alt="" style="height:500px">
            <div class="slick-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-10">
                            <h1 class="slick-title">Rendez-vous</h1>
                            <p class="lead text-white mt-lg-3 mb-lg-5">Prenez votre rendez-vous pour profiter de nos services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container rendezVous mt-5">
        <div class="row justify-content-center" style="top:0">
            <div class="col-md-6">
                <form method="POST" id="appointmentForm" action="{% url 'Model:Rendez_vous' %}">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="date" class="block text-gray-700 text-sm font-bold mb-2">Date :</label>
                        {{ form.date_rendez_vous }}
                    </div>

                    <div class="form-group">
                        <label for="time">Horaire :</label>
                        {{ form.horaire }}
                    </div>

                    <div class="form-group">
                        <label for="reason">Services :</label>
                        {{ form.service }}
                    </div>

                    {% if form.errors %}
                        <small style="color: red;">
                            {{ form.errors }}
                        </small>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <button type="submit" class="btn" style="margin-top:10px; background-color:#ffc30e;color:white">Prendre rendez-vous</button>
                    {% else %}
                        <button type="button" class="btn" style="margin-top:10px; background-color:gray; color:white" disabled>
                            Pour prendre rendez-vous (Veuillez vous connecter)
                        </button>
                    {% endif %}

                    <div id="error-message" class="error mt-3">Disponibilité: Lundi-Vendredi 8H-18H</div>
                    {% if messages %}
                        <ul class="messages" style="list-style: none;padding: 0;">
                            {% for messages in messages %}
                                <li{% if messages.tags %} class="{{ messages.tags }}"{% endif %} id="message-alert" style=" margin: 10px 0; padding: 10px; border-radius: 5px;">{{ messages }}</li>
                            {% endfor %}
                            <script>
                                setTimeout(function() {
                                    document.getElementById('message-alert').style.display = 'none';
                                }, 5000);
                            </script>
                        </ul>
                    {% endif %}
                </form>


                <script>
                    function generateEvenHours() {
                        var select = document.getElementById('id_heure_rendez_vous');  // Utilisez l'ID généré par Django
                        select.innerHTML = '';
                        for (var i = 8; i <= 16; i += 2) {
                            var formattedHour = ('0' + i).slice(-2);
                            var option = document.createElement('option');
                            var heurSuivant=(i+2);
                            option.value = formattedHour + ':00';
                            if (i === 12) {
                                option.text = '';
                                option.disabled = true;
                            } else {
                                option.text = formattedHour+':00'+'-' + heurSuivant+':00';
                            }

                            select.appendChild(option);
                        }
                    }
                    {#generateEvenHours();#}
                    document.getElementById('id_date_rendez_vous').addEventListener('input', function(event) {
                        {#generateEvenHours();#}
                    });
                    var today = new Date();
                    var todayISO = today.toISOString().split('T')[0];
                    document.getElementById('id_date_rendez_vous').min = todayISO;
                    var maxDate = new Date(today);
                    maxDate.setDate(today.getDate() + 7);
                    document.getElementById('id_date_rendez_vous').max = maxDate.toISOString().split('T')[0];
                    function isWeekend(dateString) {
                        var selectedDate = new Date(dateString);
                        var day = selectedDate.getDay();
                        return day === 0 || day === 6;
                    }
                    document.getElementById('id_date_rendez_vous').addEventListener('input', function(event) {
                        var selectedDate = event.target.value;
                        if (isWeekend(selectedDate)) {
                            event.target.value = '';
                            document.getElementById('error-message').innerText = "Les rendez-vous ne sont pas disponibles le week-end. ";
                        } else {
                            document.getElementById('error-message').innerText = '';
                        }
                    });
                </script>
            </div>
        </div>
    </div>
        <h2 style="text-align: center">Prestation</h2>

        <center>
            <table>
                <thead>
                <tr>
                    <th>Service</th>
                    <th>Description du service</th>
                    <th>Prix</th>
                </tr>
                </thead>
                <tbody>
                {% if services %}
                    {% for service in services %}
                        {% if service.disponibilite %}
                            <tr>
                                <td>{{ service.type }}</td>
                                <td>{{ service.description }}</td>
                                <td>{{ service.prix }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="3">Aucun service disponible</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </center>
    </section>

    </body>
{% endblock %}
