{% extends 'base.html' %}
{% load static %}

{% block content%}
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            {% include 'header.html' %}
            {% include 'panier.html' %}
            <header class="site-header section-padding-img site-header-image" style="background-color:#ffffff">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 header-info">
                            <h1 style="margin-left:50px">
                                <span class="d-block text-warning">En</span>
                                <span class="d-block text-dark">Aparté</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <img src="{% static 'images/banner-05.jpg' %}" class="header-image img-fluid" alt="">
            </header>

            <section class="testimonial section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 mx-auto col-11">
                            <h2 class="text-center">Qui nous<br> <span class="text-warning">Sommes</span> ?</h2>
                            <div class="slick-testimonial">
                                <div class="slick-testimonial-caption">
                                    <h3 style="text-align:c enter; color black">Notre Mission</h3>
                                    <p class="lead">Chez EN APARTE, notre mission est de favoriser le bien-être et la relaxation à travers des massages personnalisés et de qualité. Nous croyons en l'équilibre entre le corps et l'esprit pour une vie épanouissante</p>
                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                    </div>
                                </div>
                                <div class="slick-testimonial-caption">
                                    <h3 style="text-align:c enter; color black">Approche Personnalisée</h3>
                                    <p class="lead">Nous comprenons que chaque personne est unique. C'est pourquoi nous adaptons nos services pour répondre aux besoins individuels de nos clients, que ce soit pour soulager le stress, réduire les tensions musculaires ou simplement se détendre.</p>
                                    </div>
                                </div>
                                <div class="slick-testimonial-caption">
                                    <h3 style="text-align:c enter; color black">Notre Équipe de Thérapeutes</h3>
                                    <p class="lead">Rencontrez notre équipe dévouée de thérapeutes qualifiés, chacun apportant une expertise unique. Leur passion pour le massage se reflète dans chaque séance, créant une expérience inoubliable pour nos clients.</p>
                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                    </div>
                                </div>
                                <div class="slick-testimonial-caption">
                                    <h3 style="text-align:c enter; color black">Engagement envers la Qualité</h3>
                                    <p class="lead">Harmonie Massage maintient des normes rigoureuses de qualité, de la sélection de produits de massage haut de gamme aux techniques de traitement les plus récentes. Nous sommes déterminés à offrir une expérience exceptionnelle à chaque visite.</p>
                                    <div class="slick-testimonial-client d-flex align-items-center mt-4">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>

        <!-- TEAM MEMBER MODAL -->
        <div class="modal fade" id="don" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Don Haruko</h3>

                        <h6 class="text-muted">Product, VP</h6>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                            </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- TEAM MEMBER MODAL -->
        <div class="modal fade" id="kelly" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Kelly Lisa</h3>

                        <h6 class="text-muted">Global, Head of Marketing</h6>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                            </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>

                            <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <!-- TEAM MEMBER MODAL -->
        <div class="modal fade" id="marie" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content border-0">
                    <div class="modal-header flex-column">
                        <h3 class="modal-title" id="exampleModalLabel">Marie Sam</h3>

                        <h6 class="text-muted">Founder & CEO</h6>

                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <h5 class="mb-4">Over three years in business had the chance to work on variety of projects, with companies</h5>

                        <div class="row mb-4">
                            <div class="col-lg-6 col-12">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>

                            <div class="col-lg-6 col-12">
                                <p>Incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse commodo viverra.</p>
                            </div>
                        </div>

                        <ul class="social-icon">
                            <li class="me-3"><strong>Where to find?</strong></li>

                            <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                            <li><a href="#" class="social-icon-link bi-linkedin"></a></li>

                            <li><a href="#" class="social-icon-link bi-envelope"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </body>
{% endblock %}
