{% extends 'base.html' %}
{% load static %}

{% block content%}
    
    <body>
    <style>
        .messages {
            list-style: none;
            padding: 0;
        }

        .messages li {
            margin: 10px 0;
            padding: 10px;
            border-radius: 5px;
        }

        .success {
            background-color: #d4edda;
            border-color: #c3e6cb;
            color: #155724;
        }

        .error {
            background-color: #f8d7da;
            border-color: #f5c6cb;
            color: #721c24;
        }

        .warning {
            background-color: #fff3cd;
            border-color: #ffeeba;
            color: #856404;
        }
        @media (max-width: 767px) {
            .contact-info {
                margin-bottom: 1rem;
            }
        }

    </style>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            {% include 'header.html' %}
            {% include 'panier.html' %}

            <header class="site-header section-padding-img site-header-image">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12 header-info">
                            <h1>
                                <span >Contactez</span>
                                <span >Nous</span>
                            </h1>
                        </div>
                    </div>
                </div>

                <img src="{% static 'images/banner-02.jpg'%}" class="header-image img-fluid" alt="">
            </header>
            <section class="contact section-padding">
                <div class="container">
                    <div class="row d-flex">
                        
                        <div class="col-lg-6 col-12">
                            <h2 class="mb-4 ">Renseignez <span >Vous</span></h2>

                            <!-- contact.html -->

                            <form class="contact-form me-lg-5 pe-lg-3" role="form" method="post" action="{% url 'vitrine:EnvoyerFormulaire' %}">
                                {% csrf_token %}
                                <div class="form-floating">
                                    <input type="text" name="name" id="name" class="form-control" placeholder="Full name" required>
                                    <label for="name">Nom</label>
                                </div>
                                <div class="form-floating" style="margin-top:20px">
                                    <input type="text" name="prenom" id="prenom" class="form-control" placeholder="Prenom" required>
                                    <label for="name">Prénom</label>
                                </div>
                                <div class="form-floating my-4">
                                    <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required>
                                    <label for="email">Adresse E-mail</label>
                                </div>
                                <div class="form-floating my-4">
                                    <input type="text" name="Objet" id="Objet" class="form-control" placeholder="Objet" required>
                                    <label for="Objet">Objet</label>
                                </div>
                                <div class="form-floating mb-4">
                                    <textarea id="message" name="message" class="form-control" placeholder="Leave a comment here" required style="height: 160px"></textarea>
                                    <label for="message">Votre message ici...</label>
                                </div>
                                <div class="col-lg-5 col-6">
                                    <button type="submit" class="form-control">Envoyer</button>
                                </div>
                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                        <script>
                                            setTimeout(function() {
                                                document.getElementById('message-alert').style.display = 'none';
                                            }, 5000);
                                        </script>
                                    </ul>
                                {% endif %}
                            </form>


                        </div>

                        <div class="col-lg-6 col-12 mt-5 ms-auto">
                            <div class="row d-flex">
                                <div class="col-6 border-end contact-info mb-3">
                                    <h6 class="mb-3">E-mail</h6>
                                    <a href="mailto:hello@company.com" class="custom-link">
                                        <span style="font-size: 8px; margin-left: auto;">enapanteabidjan@gmail.com</span>
                                        <i class="bi-arrow-right ms-2"></i>
                                    </a>
                                </div>

                                <div class="col-6 contact-info mb-3">
                                    <h6 class="mb-3">Telephone</h6>
                                    <a href="mailto:studio@company.com" class="custom-link">
                                        0789999981
                                        <i class="bi-arrow-right ms-2"></i>
                                    </a>
                                </div>


                                <div class="col-6 border-top border-end contact-info">
                                    <h6 class="mb-3">Localisation</h6>
                                    <p class="text-muted">pharmacie les Elias, Riviera Jardins, 06, 06 BP 883, Abidjan</p>

                                </div>

                                <div class="col-6 border-top contact-info">
                                    <h6 class="mb-3">Nos réseaux sociaux</h6>
                                    <ul class="social-icon">
                                        <li><a href="#" class="social-icon-link bi-messenger"></a></li>
                                        <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>
                                        <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                                    </ul>
                                </div>
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5431.235457463245!2d-3.978419388236483!3d5.330979794625231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xfc1ed6388410da7%3A0x46f5ee840c275a00!2sEn%20Apart%C3%A9%20Institut%20de%20beaut%C3%A9!5e1!3m2!1sfr!2sci!4v1703002739996!5m2!1sfr!2sci" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
{% endblock %}
