{% extends 'base.html' %}
{% load static %}

{% block content%}
    
    <body>
    <style>
        .product-card {
            display: flex;
            flex-direction: row;
            margin: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
            max-width: 500px;
        }

        .product-img {
            flex: 1;
        }

        .product-info {
            flex: 1;
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
        }

        .btn-add-to-cart {
            background-color: #FF9B50;
            color: #fff;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: auto;
        }

        .btn-add-to-cart:hover {
            background-color: darkgoldenrod;
        }

        .ligne {
            margin-top: 20px;
        }

        h4 {
            color: #FFB000;
        }

        .product-promotion {
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #FF9B50;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
        }

        .product-price-original {
            text-decoration: line-through;
            color: #999;
            margin-right: 5px;
        }
        .category-select {
            margin-right: 10px;
        }

        .products-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    </style>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>
            {% include 'header.html' %}
            {% include 'panier.html' %}

            <section class="slick-slideshow">   
                <div class="slick-custom">
                    <img src=" {% static 'images/coiffure.jpg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Coiffures</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Un institut de branté et de bien-être, de luxe, qui priorise la qualité pour ses clients.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src="{% static 'images/femme-se-detendre-dans-spa.jpg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Soins esthetiques et bien-etre</h1>

                                    <p class="lead text-white mt-lg-3 mb-lg-5">Soins amincissants</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="slick-custom">
                    <img src=" {% static 'images/concept-spa-femme-creme-au-visage (1).jpg' %}" class="img-fluid" alt="">

                    <div class="slick-bottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-10">
                                    <h1 class="slick-title">Soins de visage</h1>
                                    <p class="lead text-white mt-lg-3 mb-lg-5">Harmonie Massage maintient des normes rigoureuses de qualité, de la sélection de produits de massage haut de gamme aux techniques de traitement les plus récentes. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="about section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-12 text-center">
                            <h2 class="mb-5">Commencez avec <span>EN</span> APARTE</h2>
                        </div>
                        <div class="col-lg-2 col-12 mt-auto mb-auto">
                            <ul class="nav nav-pills mb-5 mx-auto justify-content-center align-items-center" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Conditions médicales</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-skill-tab" data-bs-toggle="pill" data-bs-target="#pills-skill" type="button" role="tab" aria-controls="pills-skill" aria-selected="false">Capacités</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-10 col-12">
                            <div class="tab-content mt-2" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="{% static 'images/01.jpg' %}" class="img-fluid" alt="">
                                        </div>
                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <p> Certaines conditions médicales peuvent nécessiter des précautions particulières. Informez votre thérapeute de toute condition médicale existante avant la séance pour des recommandations appropriées.</p>

                                                <div class="mt-2 mt-lg-auto">
                                                    <a href="{% url 'vitrine:About'%}" class="custom-link mb-2">
                                                        En savoir plus
                                                        <i class="bi-arrow-right ms-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-skill" role="tabpanel" aria-labelledby="pills-skill-tab">
                                    <div class="row">
                                        <div class="col-lg-7 col-12">
                                            <img src="{% static 'images/produit1.jpg' %}" class="img-fluid" alt="">
                                        </div>

                                        <div class="col-lg-5 col-12">
                                            <div class="d-flex flex-column h-100 ms-lg-4 mt-lg-0 mt-5">
                                                <h4 class="mb-3">Qu'est-ce qui peut vous aider ?</h4>

                                                <div class="skill-thumb mt-3">

                                                    <strong>l'image de marque</strong>
                                                        <span class="float-end">90%</span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                                            </div>

                                                            <strong>Efficace</strong>
                                                        <span class="float-end">70%</span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                                            </div>

                                                    <strong>Plateforme en ligne</strong>
                                                        <span class="float-end">80%</span>
                                                            <div class="progress">
                                                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                                            </div>

                                                </div>
                                                
                                                <div class="mt-2 mt-lg-auto">
                                                    <a href="{% url 'vitrine:liste_tous_produits'%}" class="custom-link mb-2">
                                                        Explorer nos produits
                                                        <i class="bi-arrow-right ms-2"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="front-product">
                <div class="container-fluid p-0">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-12">
                            <img src="{% static 'images/massage.png' %}" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="px-5 py-5 py-lg-0">
                                <h2 class="mb-4">Disponibilité</h2>
                                <p class="lead mb-4">Nous sommes disponible du Mardi au Dimanche</p>
                                <p class="lead mb-4">Mardi, 09:00–20:00</p>
                                <p class="lead mb-4">Mercredi, 09:00–20:00</p>
                                <p class="lead mb-4">Jeudi, 09:00–20:00</p>
                                <p class="lead mb-4">Vendredi, 09:00–20:00</p>
                                <p class="lead mb-4">Samedi, 09:00–20:00</p>
                                <p class="lead mb-4">Dimanche, 13:00–19:30</p>
                                <a href="{% url 'Model:Rendez_vous' %}" class="custom-link">
                                    Prendre un rendez-vous
                                    <i class="bi-arrow-right ms-2"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="featured-product section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="mb-5">Produits populaires</h2>
                        </div>
                        {% if tous_les_produits %}
                            <div class="col-12">
                                <h2 class="mb-5">Nos différents produits</h2>
                            </div>
                            {% for produit in tous_les_produits %}
                                <div class="col-lg-4 col-12 mb-3">
                                    <div class="product-thumb">
                                        <a href="{% url 'vitrine:Produit_details' produit.id %}">
                                            <img src="{{ produit.image.url }}" class="img-fluid product-image" alt="">
                                        </a>
                                        {% if produit.promotion and produit.prix_reduit %}
                                            <div class="product-promotion">-{{ produit.pourcentage_promotion }}%</div>
                                        {% endif %}
                                        <div class="product-top d-flex">
                                        <span class="product-alert me-auto">
                                           {% if produit.promotion and produit.prix_reduit %}
                                               <span class="product-alert me-auto">En promotion</span>
                                           {% endif %}
                                        </span>

                                        </div>

                                        <div class="product-info d-flex">
                                            <div>
                                                <h5 class="product-title mb-0">
                                                    <a href="{% url 'vitrine:Produit_details' produit.id %}" class="product-title-link">{{ produit.nom }}</a>
                                                </h5>
                                            </div>
                                            {% if produit.promotion and produit.prix_reduit %}
                                                <small class="product-price text-muted ms-auto">
                                                    <span class="h6 text-warning" style="text-decoration:none ">{{ produit.prix_reduit }}F</span><br>
                                                    <span class="product-price-original">{{ produit.prix }}F </span>
                                                </small>
                                            {% elif  produit.promotion and not produit.prix_reduit  %}
                                                <small class="product-price text-muted ms-auto">
                                                    <span class="h6 text-warning" style="text-decoration:none ">{{ produit.prix }}F</span><br>
                                                </small>
                                            {% elif not produit.promotion  %}
                                                <small class="product-price text-muted ms-auto">
                                                    <span class="h6 text-warning" style="text-decoration:none ">{{ produit.prix }}F</span><br>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-12 "style="margin-bottom: 189px">
                                <h2 class="mb-5">Aucun produit pour l'instant</h2>
                            </div>
                        {% endif %}
                        <div class="col-12 text-center">
                            <a href="{% url 'vitrine:liste_tous_produits' %}" class="view-all">Voir tous les produits</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
{% endblock %}
