{% extends 'base.html' %}
{% load static %}

{% block content %}
<body style="padding-top: 60px;">
    <main>
        {% include 'header.html' %}
        <style>
            .product-card {
                display: flex;
                flex-direction: row;
                margin: 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                overflow: hidden;
                max-width: 500px;
            }

            .product-img {
                flex: 1;
            }

            .product-info {
                flex: 1;
                padding: 20px;
                background-color: #f8f9fa;
                border-radius: 10px;
            }

            .btn-add-to-cart {
                background-color: #FF9B50;
                color: #fff;
                padding: 10px 15px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-top: auto;
            }

            .btn-add-to-cart:hover {
                background-color: darkgoldenrod;
            }

            .ligne {
                margin-top: 20px;
            }

            h4 {
                color: #FFB000;
            }

            .product-promotion {
                position: absolute;
                top: 10px;
                right: 10px;
                background-color: #FF9B50;
                color: #fff;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
            }

            .product-price-original {
                text-decoration: line-through;
                color: #999;
                margin-right: 5px;
            }
            .category-select {
                margin-right: 10px;
            }

            .products-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .product-thumb img {
                height: 200px; /* Ajustez la hauteur souhaitée */
                width: 100%;   /* Pour s'assurer que l'image remplit la largeur de son conteneur */
                object-fit: cover; /* Pour couvrir la zone de manière proportionnée */
            }
        </style>
        <section class="products section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2 class="mb-5">Nouvelles Arrivées</h2>
                    </div>

                    <!--for produit in produit  -->
                    {% for produit in tous_les_produits %}
                        <div class="col-lg-4 col-12 mb-3">
                            <div class="product-thumb">
                                <a href="{% url 'vitrine:Produit_details' produit.id %}">
                                    {% if produit.promotion and produit.prix_reduit %}
                                        <div class="product-promotion">-{{ produit.pourcentage_promotion }}%</div>
                                    {% endif %}
                                    <img src="{{ produit.image.url }}" class="img-fluid product-image" alt="">
                                </a>
                                <div class="product-top d-flex">
                                    {% if produit.promotion and produit.prix_reduit %}
                                        <span class="product-alert me-auto">En promotio</span>
                                    {% endif %}
                                </div>
                                <div class="product-info d-flex">
                                    <div>
                                        <h5 class="product-title mb-0">
                                            <a href="{% url 'vitrine:Produit_details' produit.id %}" class="product-title-link">{{ produit.nom }}</a>
                                        </h5>
                                        <p class="product-p">{{ produit.description }}</p>
                                    </div>
                                    {% if produit.promotion and produit.prix_reduit %}
                                        <small class="product-price text-muted ms-auto">
                                            <span class="h3 text-warning" style="text-decoration:none ">{{ produit.prix_reduit }} FCFA</span><br>
                                            <span class="product-price-original">{{ produit.prix }} FCFA </span>
                                        </small>
                                    {% elif  produit.promotion and not produit.prix_reduit  %}
                                        <small class="product-price text-muted ms-auto">
                                            <span class="h3 text-warning" style="text-decoration:none ">{{ produit.prix }} FCFA</span><br>
                                        </small>
                                    {% elif not produit.promotion  %}
                                        <small class="product-price text-muted ms-auto">
                                            <span class="h3 text-warning" style="text-decoration:none ">{{ produit.prix }} FCFA</span><br>
                                        </small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- endfor-->


                </div>
            </div>
        </section>
    </main>
</body>
{% endblock %}
