{% extends 'base.html' %}
{% load static %}

{% block content%}
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>

            {% include 'header.html' %}
            <style>


            .product-promotion {
                top: 10px;
                right: 10px;
                background-color: #FF9B50;
                color: #fff;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                text-align:center;
            }
            input[type="number"] {
                width: 100%; /* Ajustez la largeur selon vos besoins */
                height: 200px;
                padding: 15px;
                font-size: 16px;
                border: 1px solid #ccc;
                border-radius: 5px;
                box-sizing: border-box;}

            .product-price-original {
                text-decoration: line-through;
                color: #999;
                margin-right: 5px;
            }
            </style>

            <header class="site-header section-padding d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-10 col-12">
                            <h1>
                                <span class="d-block text-warning">Nous vous fournissons</span>
                                <span class="d-block text-dark">Des produits de qualités</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </header>

            <section class="product-detail section-padding "    >
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12">
                            <div class="product-thumb">
                                <img src="{{ produit.image.url }}" class="img-fluid product-image" alt="" >
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="product-info d-flex">
                                <div>
                                    <h2 class="product-title mb-0">{{ produit.nom }}</h2>
                                </div>

                                {% if produit.promotion and produit.prix_reduit %}
                                    <small class="product-price text-muted ms-auto">
                                        <div class="product-promotion">-{{ produit.pourcentage_promotion }}%</div>
                                        <span class="h3 text-warning" style="text-decoration:none ">{{ produit.prix_reduit }} FCFA</span><br>
                                        <span class="product-price-original">{{ produit.prix }} FCFA </span>
                                    </small>
                                {% elif  produit.promotion and not produit.prix_reduit  %}
                                    <small class="product-price text-muted ms-auto">
                                        <span class="h3 text-warning" style="text-decoration:none ">{{ produit.prix }} FCFA</span><br>
                                    </small>
                                {% elif not produit.promotion  %}
                                    <small class="product-price text-muted ms-auto">
                                        <span class="h3 text-warning" style="text-decoration:none ">{{ produit.prix }} FCFA</span><br>
                                    </small>
                                {% endif %}
                            </div>

                            <div class="product-description">
                                <strong class="d-block mt-4 mb-2">Description</strong>
                                <p class="lead mb-5">{{ produit.description }}</p>
                            </div>


                            <div class="product-cart-thumb row">
{#                                <div class="col-lg-6 col-12">#}
{#                                    <input type="number" id="quantite_{{ produit.id }}" name="quantite" value="1" >#}
{#                                </div>#}
{##}
{#                                <div class="col-lg-6 col-12 mt-4 mt-lg-0">#}
{#                                    <button type="submit" class="btn custom-btn cart-btn" onclick="commanderProduit({{ produit.id }})">Commander</button>#}
{#                                </div>#}
                                {% if user.is_authenticated %}
                                    <div class="col-lg-12 col-12 mt-4 mt-lg-0">
                                        <a href="{% url 'vitrine:panier' produit.id %}" class="btn custom-btn cart-btn">AJOUTER AU PANIER</a>
                                    </div>
                                {% else %}
                                    <div class="col-lg-12 col-12 mt-4 mt-lg-0">
                                        <a href="#" class="btn custom-btn cart-btn" style="pointer-events: none;" disabled>VEUILLEZ-VOUS CONNECTER</a>
                                    </div>

                                {% endif %}

                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </main>

        <!-- Mettez à jour ceci dans votre template -->
        <script>
            function commanderProduit(produitId) {
                var quantite = document.getElementById('quantite_' + produitId).value;

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "{% url 'vitrine:commander_produit' %}", true);

                // Inclure le jeton CSRF dans l'en-tête de la requête
                xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));

                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4) {
                        // Gérer la réponse du serveur
                        var response = JSON.parse(xhr.responseText);
                        alert(response.message);  // Afficher une alerte avec le message du serveur

                        // Rediriger l'utilisateur vers la même page
                        window.location.reload();
                    }
                };

                var data = "produit_id=" + produitId + "&quantite=" + quantite;
                xhr.send(data);
            }

            // Fonction pour récupérer le jeton CSRF à partir des cookies
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // Chercher le jeton CSRF
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

        </script>

    </body>
{% endblock %}
